{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href=" {% static 'style/reset.css' %} " rel="stylesheet">
    <link href=" {% static 'style/base.css' %} " rel="stylesheet">

    {% block 'style-link' %}
    
    {% endblock %}

    <title>{% block 'title' %} {% endblock %}</title>
</head>
<body>
    
    <header class="navbar">
        <div class="center">
            <nav>
                <h3>LOGO</h3>

                <ul class="nav-list">
                    <li><a href=" {% url 'index' %} "> contatos </a></li>
                    <li><a href="#"> adicionar contatos </a></li>
                </ul>
            </nav>
        </div>
    </header>

    
    {% block 'content' %}{% endblock %}
</body>
</html>