{% extends 'base.j2' %}
{% load static %}

{% block 'title' %} home {% endblock %} 

{% block 'style-link' %}{% endblock %}

{% block 'content' %}
    <div class="center">
        <h1> {{ contato.nome }} </h1>

        <br>
        <h3>Telefone</h3>
        <p> {{ contato.telefone }} </p>
        <br>

        <br>
        <h3>email</h3>
        <p> {{ contato.email }} </p>
        <br>

        <br>
        <h3>Descrição</h3>
        <p> {{ contato.descricao }} </p>
        <br>

    </div>
{% endblock %}